@model IEnumerable<WShop.EFModel.Addrress>
@{
    ViewBag.Title = "收货地址";
    Layout = "~/Views/_LayoutTops.cshtml";
}

<!--个人中心-收货地址-->
<div class="address">
    <div class="list">
        @foreach (var adr in Model)
        {
            if (adr.State==1)
            {
                <div class="sg on">
                    <!--<label></label>-->
                    <a href="@Url.Action("addadrs","Customer",new {adr.ID})">
                        <span class="name"><i>@adr.Aname</i><em>@adr.Tel</em></span>
                        <span class="place"><i>[默认]</i>@adr.Address</span>
                    </a>
                </div>
            }
            else
            {
                <div class="sg ">
                    <!--<label></label>-->
                    <a href="@Url.Action("addadrs","Customer",new{adr.ID})">
                        <span class="name"><i>@adr.Aname</i><em>@adr.Tel</em></span>
                        <span class="place"><i>[默认]</i>@adr.Address@adr.AddressMain</span>
                    </a>
                </div>
            }
        }
    </div>
</div>
<a class="makesure" href="@Url.Action("addadrs","Customer")">添加收货地址</a>
<!--个人中心-收货地址-->

@section style
{
    <link href="/Content/css/center.css" type="text/css" rel="stylesheet">
}